<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="prqx" value="https://nuget.pkg.github.com/pricerqx/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <prqx>
            <add key="Username" value="%NG_PRQX_USER%" />
            <add key="ClearTextPassword" value="%NG_PRQX_PWD%" />
        </prqx>
    </packageSourceCredentials>
</configuration>